<h1>Editing buddies</h1>
<p>buddies/:id/edit ?? -> est-ce que c'est vraiment en passant par la swow ?</p>

<% #<%= render "form", buddy: @buddy %>

<%= simple_form_for(@buddy) do |f| %>
<%= f.input :skills %>
<%= f.input :description %>
<%= f.submit "#{ @buddy.persisted? ? 'Update' : 'Create' } my profile", class: 'btn btn-primary' %>
<% end %>


<div>
  <p>link_to "Show me" vers la show</p>
  <p>link_to "Back to buddies", buddies_path(index)</p>
</div>
