<div class="body-wrapper">
  <h1>See all Buddies</h1>


  <ul>
    <% @buddies.each do |buddy| %>
    <li> <%= link_to buddy.user.first_name, buddy_path(buddy) %> </li>
    <li> <%= buddy.user.last_name %> </li>
    <li> <%= buddy.user.email %> </li>
    <li> <%= buddy.description %> </li>
    <li> <%= buddy.skills %> </li>

    <% end %>
  </ul>

<%= link_to "Register as a buddy", new_buddy_path %>
<%= link_to "Back to Home", root_path %>

</div>
