<%= simple_form_for :search, url: root_path, method: :get do |f| %>
<div class="search-form-control form-group">
  <input class="form-control string required" type="text" name="search[query]" id="search_query" />
  <button name="button" type="submit" class="btn btn-flat">
    <i class="fas fa-search"></i> Search
  </button>
</div>
<% end %>

<div class="body-wrapper">

  <h1>See all Buddies</h1>
<div class="container">

  <div class="cards">
    <% @buddies.each do |buddy| %>
      <%= link_to buddy_path(buddy) do %>
        <div class="card-category position-relative" style= "background-image:url(https://miro.medium.com/max/1000/1*LndgtuGeZopBIy9sXcmO3g.jpeg)">
          <%= buddy.user.first_name %>
          <%= buddy.user.last_name %>
          <%# <%= link_to buddy.user.photo %>

          <span class="position-absolute p-2 badge text-white text-decoration-none rounded bg-secondary" style="bottom:10px; right:10px;"><%= buddy.skills %>
          <i class="fs-6 far fa-heart"></i>
          </span>

        </div>
      <% end %>
    <% end %>
  </div>
</div>
  <%= link_to "Register as a buddy", new_buddy_path %>
  <%= link_to "Back to Home", root_path %>

</div>
