<h1>Index See all Buddies</h1>
<p>navbar</p>

<ul>
  <% @buddies.each do |buddy| %>
  <li> <%= buddy.user.first_name %> </li>
  <li> <%= buddy.user.last_name %> </li>
  <li> <%= buddy.user.email %> </li>
  <li> <%= buddy.description %> </li>
  <% end %>
</ul>


<%= link_to "Register as a buddy", new_buddy_path %>
