<h1>New</h1>
<li>puis page de sign in -> /users/sign_in ?</li>


Connecté sur le profil de : <%= current_user.first_name %>


<p>btn qui renvoi vers la show /buddies/:id</p>

<%= simple_form_for(@buddy) do |f| %>
<%= f.input :photo, as: :file %>
<%= f.input :skills %>
<%= f.input :description %>
<%= f.submit "#{ @buddy.persisted? ? 'Update' : 'Create' } my profile", class: 'btn btn-primary' %>
<% end %>
