<h1>Create your Buddy Profile</h1>

Your are connected as : <%= current_user.first_name %>

<%= simple_form_for(@buddy) do |f| %>
<%= f.input :photo, as: :file %>
<%= f.input :skills, collection: Buddy::SKILLS %>
<%= f.input :description %>
<%= f.submit "#{ @buddy.persisted? ? 'Update' : 'Create' } my profile", class: 'btn btn-primary' %>
<% end %>

<%= link_to "Back to Home", root_path %>
