<h1>show</h1>

<h1>Decouvrez le profil de <%= @buddy.user.first_name %></h1>

<p>Description : <%= @buddy.description%></p>
<p>Mes skills : <%= @buddy.skills %></p>

<% if @buddy.photo.present? %>
  <%= cl_image_tag @buddy.photo.key, height: 300, width: 400, crop: :fill %>
<% end %>

<%= link_to "Delete my profile", @buddy %>

<p><%= link_to "Back", buddies_path %></p>

<p> <%= link_to "Edit", edit_buddy_path %></p>

<%= render "bookings/form", buddy: @buddy, booking: @booking %>


To do : link_to "Book a session with me", new_buddy_booking_path
