<h1>show</h1>

<h1>Decouvrez le profil de <%= @buddy.user.first_name %></h1>

<p>Description : <%= @buddy.description%></p>
<p>Mes skills : <%= @buddy.skills %></p>

<%= link_to "Delete my profile", @buddy %>

<p><%= link_to "Back", buddies_path %></p>

<p> <%= link_to "Edit", edit_buddy_path %></p>


To do : link_to "Book a session with me", new_buddy_booking_path
