<div class="container">
  <div class="mt-3">
    <p class="px-0 text-black text"> <i class="fa-solid fa-rotate-left"></i> <%= link_to "Back to all buddies", buddies_path %></p>
  </div>

  <div class="d-flex justify-content-between pb-5">

    <div class="col-8 px-5">
      <div class="text-left mt-3 d-flex flex-row justify-content-between">
        <h1><%= @buddy.user.first_name %>'s profile</h1>
        <div class="d-flex flex-row justify-content-between" style='width: 40%'>
          <% if policy(@buddy).update? %>
              <%= link_to "Edit my profile", edit_buddy_path(@buddy), class: "btn btn-success" %>
          <% end %>

          <%= button_to "Delete my profile", @buddy, class: "btn btn-danger", method: :delete if policy(@buddy).destroy? %>
        </div>
      </div>
      <div class="card border-light cards-show-border-radius my-3 p-3">
          <p class="px-0 text-black"><strong>About me : </strong></p>
          <p><em><%= @buddy.description%></em></p>
      </div>


      <%# <div class="skills"> %>
      <div class="card border-light cards-show-border-radius my-3 p-3">
          <p class="px-0 text-black"><strong>My skills : </strong></p>
          <div>
          <span class="badge rounded-pill bg-primary m-3"><%= @buddy.skills %></span>
          </div>
      </div>
     <%# </div> %>

      <div class="contributions">
        <div class="card border-light cards-show-border-radius my-3 p-3">
        <p><strong>Recent contributions</strong></p>
        <p>Technical Project Manager / Technical Product Owner / Product Manager for Google</p>
        </div>
      </div>

    </div>

    <div class="col-4">
      <div class="card border-light cards-show-shadow p-3 d-flex align-items-center justify-content-center">

        <% if @buddy.photo.present? %>
          <%= cl_image_tag @buddy.photo.key, height: 150, width: 200, crop: :fill, class: "align-self-center rounded"%>
        <% end %>


        <div class="d-flex flex-column w-100 h-25 my-3">
          <div class="d-flex flex-row justify-content-between mb-1">
            <div class="">
            Price per Hour :
            </div>
            <div class="">
            60€
            </div>
          </div>
          <div class="d-flex flex-row justify-content-between">
            <div class="">
            Location :
            </div>
            <div class="">
            Paris, Fr
            </div>
          </div>
        </div>

        <% unless current_user&.buddy&.id == @buddy.id %>
          <div class="mt-3 w-100">
            <%= render "bookings/form", buddy: @buddy, booking: @booking %>
          </div>
        <% end %>
      </div>

    </div>

  </div>
</div>
