
<div class="footer">
  <p>Made with <span>&hearts;</span> by
    <%= link_to "Nina", "https://github.com/CoulonNina", :target => "_blank", class:"link-footer1" %>
    <%= link_to "Alice", "https://twitter.com/journalice", :target => "_blank", class:"link-footer2" %>
    <%= link_to "Mylène", "https://github.com/MyleneF84", :target => "_blank", class:"link-footer3" %>
    <%= link_to "Ophélia", "https://github.com/OpheliaOndella", :target => "_blank", class:"link-footer4" %>
  </p>
<br>
   <%# <%= link_to "Pair programming with VS code", "https://duckly.com/blog/pair-programming-with-vs-code/", :target => "_blank" %>

  <ul id="socialmedia float-md-left">
  <a href="http://www.facebook.com" class="fa-brands fa-facebook fs-3 text-decoration-none"></a>
  <a href="http://www.twitter.com" class="fa-brands fa-twitter fs-3 text-decoration-none"></a>
  </ul>
</div>
