<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand", style: "height: 20px" do %>
      <img src="https://res.cloudinary.com/dgw2zajw1/image/upload/v1653509318/noun-buddies-88194_ycixoc.png" />
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
          <%= link_to "All buddies", buddies_path, class: "nav-link" %> 
          </li>
          <li class="nav-item dropdown">
            <div></div>
            <img class="avatar-bordered dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://res.cloudinary.com/dgw2zajw1/image/upload/v1653510149/azedfrd_-_copie_zcttp4.jpg" />
            <%# <img src="https://res.cloudinary.com/dgw2zajw1/image/upload/v1653509468/azedfrd_yif9zm.webp" class="avatar dropdown-toggle" id="navbarDropdown", data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" /> %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "A linker :My Profil", class: "dropdown-item" %>
              <%= link_to "My Dashboard", "#", class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link-button" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
