
<%= render "shared/banner" %>
<%= render "shared/card-product" %>
<div class="container">
  <div class="cards">
    <% @last_buddies.each do |buddy| %>
      <div class="card-category position-relative">
        <%= buddy.user.first_name %>
        <%= buddy.user.last_name %>
        <div class="position-absolute p-2 bg-secondary text-white rounded" style="bottom:10px; right:10px;">
          <%= link_to "See buddy", buddy_path(buddy), class: "fs-6 text-white text-decoration-none"%>
          <i class="far fa-heart"></i>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</div>

<%#= style= "background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path buddy.photo.key, height: 300, crop: :fill %>
